{% extends 'master.twig' %}

{% block title %}Bestellungen{% endblock %}

{% block content %}

    <div class="well">
        <h1>Neuen Kunden erstellen</h1>

        //TODO
    </div>

{% endblock %}