{% extends 'master.twig' %}

{% block title %}Bestellungen{% endblock %}

{% block content %}

    <div class="well">
        <h1>Benutzer&uuml;bersicht</h1>

        <table class="table table-striped">
            <tr>
                <th>Vorname</th>
                <th>Nachname</th>
                <th>Email</th>
                <th>Rechte</th>
                <th>Optionen</th>
            </tr>

            {% for user in users %}
                <tr>
                    <td>{{ user.getFirstname() }}</td>
                    <td>{{ user.getLastname() }}</td>
                    <td>{{ user.getEmail() }}</td>
                    <td>{{ user.getRole() }}</td>
                    <td>
                        <a class="btn btn-danger" href="/backend/delete/id">
                            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                        </a>
                    </td>
                </tr>
            {% endfor %}

        </table>
    </div>

{% endblock %}