{% extends 'master.twig' %}

{% block title %}Bestellungen{% endblock %}

{% block content %}

    <h1>Order overview</h1>

    <table>
        <tr>
            <th>customer</th>
            <th>date</th>
            <th>amount</th>
        </tr>

        {% for order in orders %}
            <tr>
                <td>{{ order.getUser().getFirstname() }} {{ order.getUser().getLastname() }}</td>
                <td>{{ order.datetime().format("Y-m-d H:i:s") }}</td>
                <td>{{ order_sum(order.getId()) }}</td>
            </tr>
        {% endfor %}

    </table>

{% endblock %}