{% extends 'master.twig' %}

{% block title %}Bestellungen{% endblock %}

{% block content %}

    <div class="well">
        <h1>Produkte</h1>

        <table class="table table-striped">
            <tr>
                <th>bild</th>
                <th>name</th>
                <th>beschreibung</th>
                <th>preis</th>
                <th>optionen</th>
            </tr>

            {% for product in products %}
                <tr>
                    <td>
                        <img src="http://placehold.it/350x150">
                    </td>
                    <td>{{ product.getName() }}</td>
                    <td>{{ product.description() }}</td>
                    <td>{{ product.getUnitPrice() }}</td>

                    <td>
                        <form action="/backend/products/{{ product.getId() }}" method="post">
                            <input type="hidden" name="_METHOD" value="DELETE"/>
                            <button type="submit" value="submit">
                                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                            </button>
                        </form>
                    </td>
                </tr>
            {% endfor %}

        </table>
    </div>

{% endblock %}