{% extends "master.twig" %}

{% block title %}Login{% endblock %}

{% block content %}

    <h1>Login</h1>

    {% import "components/forms.twig" as forms %}

    {{ error }}
    <form name="login" action="{{ currentUrl() }}" method="post">
        {{ forms.input('username') }}
        {{ forms.input('password') }}
        <input type="submit" value="login">
    </form>

{% endblock %}